body{

    margin: 0;
    padding: 0;
    font-family: "lato", Helvetica, Arial, sans-serif;
    background-color: black;

}

nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;

}

a{

    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;

}

ul, li{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;

}

li{

    padding: 20px;
    border-radius: 15px;

}

li:hover{

    background-color: #83A5C0;
    transition: 0.3s;
    cursor: pointer;

}


#container{

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

}

h1{

    text-align: center;
    color: white;

}


#content{

    margin-top: 100px;
    height: 520px;
    width: 935px;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#navegation{

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}

.nav{

    width: 70px;
    height: 17px;
    border: solid white 2px;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;

}

.nav:hover{

    background-color: white;
    transform: .6s;

}

input{

    display: none;

}

.slides{

    display: flex;
    width: 500%;
    height: 100%;

}

.slide{

    width: 20%;
    transition: .6s;
}

.slide img{

    width: 100%;
    height: 100%;

}

#slide1:checked ~ .s1{

    margin-left: 0;

}

#slide2:checked ~ .s1{

    margin-left: -20%;

}

#slide3:checked ~ .s1{

    margin-left: -30%;

}

#slide4:checked ~ .s1{

    margin-left: -40%;

}

#slide5:checked ~ .s1{

    margin-left: -50%;

}