body{

    margin: 0;
    padding: 0;
    font-family: "lato", Helvetica, Arial, sans-serif;
    background-color: black;

}

nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;

}

a{

    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;

}

ul, li{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;

}

li{

    padding: 20px;
    border-radius: 15px;

}

li:hover{

    background-color: #83A5C0;
    transition: 0.3s;
    cursor: pointer;

}
